<!DOCTYPE html>
<html>
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@1.14.0")
  -->

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.14.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <style>
          .wrapper{
            max-width: 1200px;
            margin: 0 auto;
        }
        .box.one{
            border: 1px solid black;
            max-height: 300px;
        }
        .avatar{
            vertical-align: middle;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    </style>
  </head>

  <body>

<div id="q-app">
    <div class="wrapper">
      <div class="row justify-center q-col-gutter-md q-mt-xl q-mb-xl q-px-xl">
        <div class="col-12">
          <div class="box one q-pa-md text-center">
            <span class="text-h4">{{name}}</span><br>
            <img :src="img" alt="avatar" class="avatar">
            <div class="q-mb-sm">
                <q-input v-model="message" label="Write something" />
            </div>
            <div>
                <q-btn outline size="md" color="primary" @click="submit('JeiHnJCwwpSkae0gaAcv')" icon="person">Submit</q-btn>

            </div>
        </div>
        </div>
        <div class="col-6">
          <div class="box">
              <q-list bordered>
                 <div  v-for="item in userInfo" :key="item.id" clickable v-ripple>
                   <q-item v-for="message in item.msg" :key="message.id">
                     <q-item-section >{{message.text}}</q-item-section>
                     <q-item-section avatar>
                       <q-avatar rounded>
                         <img :src="item.image">
                       </q-avatar>
                     </q-item-section>
                    </q-item>
                   </div>
              </q-list>
          </div>
      </div>

      <!-- userInfo: [
       {
        id: "12",
        name: "jamal",
        image: "jamal.jpg",
        msg: [
           {
            id: "1",
            text: "hi"
          }
        ]
      }
      
      ] -->


      </div>
    </div>

</div>

    <!-- Add the following at the end of your body tag -->
    
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.14.0/dist/quasar.umd.min.js"></script>
    
    <!-- Adding firebase -->
   <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-firestore.js"></script>
<script  src="initFirebase.js"></script>
<script>
</script>
    
    <script>
      new Vue({
        el: '#q-app',
        data: function () {
          return {
            name:"Jamal",
            message:"",
            img:"user1.webp",
            userInfo:[],
          }
        },
      
methods: {
  // Add data
    submit (id){
          db.collection('users/' + id + '/message')
          // users/123471011/message/{text="I am a robot", text2 = "I am Text2"} 
          .add({ 
            text: this.message
          })
          .then((docRef) => {
            this.userInfo = []
            this.getUserFromFireStore();
            this.message = ""
          })
          .catch(function(error) {
            console.error("Error adding document: ", error);
          });
       },
    // Read Data
    getUserFromFireStore(){
    db.collection("users").get()
      .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {

              let userData= {};  //Empty Object defined
              userData.id = doc.id  // Set document's id from db with object. 
              userData.name = doc.data().name
              userData.image = doc.data().image
              userData.msg = []

              db.collection('users/' + doc.id + '/message').get()
              .then((subCollectionSnapshot) => {
              subCollectionSnapshot.forEach((subDoc) => {
              let msgObject = {};
              msgObject.id = subDoc.id
              msgObject.text = subDoc.data().text
              userData.msg.push(msgObject)
            });
          });
             this.userInfo.push(userData)
          }); 
      })
      .catch(function(error) {
          console.error("Error adding document: ", error);
      });
      
    }     
    },
    mounted(){
      this.getUserFromFireStore()
    }
  })
    </script>
  </body>
</html>
