<!DOCTYPE html>
<html>
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@1.13.2")
  -->

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.13.2/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <style>
      .img{
        border-radius: 50%;
        }

      .box.sample{
        border: 1px solid black;
        min-height: 100px;
      }
      .wrapper {
        max-width: 1200px;
        margin: 0 auto;
      }


    </style>
  </head>

  <body>

        <div id="q-app">
          <div class="wrapper">
            <div class="row justify-center q-col-gutter-md q-mb-xl q-mt-xl q-px-xl">
              <div class="col-4">
                <div class="box sample q-pa-md text-center">
                  <span class="text-h3">Jamal</span>
                  <img src="user1.png" alt="Avatar" /> 
                  <div class="q-mb-sm">
                    <q-input  label="Write something" />
                  </div>
                  <div>
                    <q-btn outline size="md" color="primary" icon="person"  >Submit</q-btn> 
                  </div>

                
                </div>
              </div>
              <div class="col-4">
                <div class="box sample q-pa-md text-center">
                  <span class="text-h3">Kamal</span>
                  <img src="user2.png" alt="Avatar" /> 
                  <div class="q-mb-sm">
                    <q-input  label="Write something" />
                  </div>
                  <div>
                    <q-btn outline size="md" color="primary" icon="person"  >Submit</q-btn> 
                  </div>

                
                </div>
              </div>
              <div class="col-4">
                <div class="box sample q-pa-md text-center">
                  <span class="text-h3">Tomal</span>
                  <img src="user3.png" alt="Avatar" /> 
                  <div class="q-mb-sm">
                    <q-input  label="Write something" />
                  </div>
                  <div>
                    <q-btn outline size="md" color="primary" icon="person"  >Submit</q-btn> 
                  </div>

                
                </div>
              </div>

              <div class="col-6">
                <div class="box">
                  <q-list bordered>
                    <q-item v-for="element in stringArray" clickable v-ripple>
                      <q-item-section>{{element}}</q-item-section>
                      <q-item-section avatar>
                        <q-avatar rounded>
                          <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                        </q-avatar>
                      </q-item-section>
                    </q-item>
              
                  </q-list>
                  <!-- <ol>
                    <li>{{stringArray[0]}}</li>
                    <li>{{stringArray[1]}}</li>
                    <li>{{stringArray[2]}}</li>
                  </ol> -->

                  
                  <ol>
                    <li v-for="element in stringArray" >{{element}}</li>
                  </ol>
                  
                </div>
              </div>
            </div>
          </div> 
        </div>








    <!-- Add the following at the end of your body tag -->
    
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.13.2/dist/quasar.umd.min.js"></script>
    
    <script>
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */
      new Vue({
        el: '#q-app',
        data: function () {
          return {
            stringArray: [
              'hi',
              'shadhin',
              'rafi',
              'hasib',
              'hamim'
            ],
            
            objectArray: [
              {id: 0, message: 'hello'},
              {id: 1, message: 'hi'},
              {id: 2, message: 'how'},
              {id: 3, message: 'are'},
              {id: 4, message: 'u'},
            ],
            numberArray: [
              2, 4, 6, 6
            ]
          }
        },
        methods: {},
        // ...etc
      })
    </script>
  </body>
</html>
